# pycharm
.idea

# python
__pycache__
.venv

# allure
allure-results
allure-report

# testing artifacts
videos
tracing
*.html
*.json

#misc
.env

#coverage
coverage.html
coverage-results
coverage-history.json
coverage-report.json


